.container {
    max-width: min(50rem, 80%);
    padding: 2rem 3rem;
    margin: 4rem auto 6rem;
    background-color: rgba(245, 245, 220, 0.9);
    border-radius: 5px;
}
  
.backToHome {
    margin: 3rem 0 0;
}